%h3
  = "#{@user.name.present?? " #{@user.name}様" : '　' }"

%p
  = "#{number_to_currency @event.payout_sum, unit: @event.payout_currency.try(:upcase)}の支払い受領完了のお知らせ。"

%p
  = "受領idは#{@event.payout_id}です。"

%p
  openlessonをご利用頂きありがとうございます!
